.tab{
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-self: flex-end;
    justify-content: space-between;
    text-align: center;
    min-width: 10rem;
    width: auto;
    max-width: 10rem;
    text-overflow: ellipsis;
    background-color: none;
    border-radius: 1rem 1rem 0rem 0rem;
    padding: 0 0.5rem 0;
    
    cursor: pointer;
    height: 80%;
}
.active{
    background-color: aqua;
    border-bottom: 2px solid;
    border-color: rgb(0, 0, 0);
}
.tab button{
    border: none;
    background-color: inherit;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 3rem;
    justify-self: center;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    
}
.tab button:hover{
    background-color: rgba(255, 255, 255, 0.674);
}
@media (max-width: 800px){
    .tab{
        min-width: 100px;
        width: auto;
        max-width: 100px;
    }
}