.tabManager{
    display:  flex;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 0rem 0rem 0rem 1rem; */
    .tabBar{
        background-color: var(--nav-N-tab-color);
        /* box-shadow: 0px -1px 0.1rem 0.4rem rgb(255, 255, 255); */
        gap: 0.2rem;
        display: flex;
        padding: 0rem 0.6rem 0rem 0.6rem;
        height: 40px;

        .addTabBtn{
            font-size: 1rem;
            font-weight:100;
            border: none;
            cursor: pointer;
            align-self:flex-end;
            display: flex;
            align-items: center;
            justify-content: center; 
            border-radius: 10rem;
            color: white;
            width: 2rem;
            height: 2rem;
            background-color: rgba(0, 0, 0, 0);

            &:hover{
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }

    .tabContent{
        flex: 1;
        width: 100%;
        background-color: aqua;
    }
}