.homeBox{
    position: relative;
    width: 100%;
    height: 100%;
    /* box-sizing: border-box; */
    /* box-shadow: 0 0 0.4rem 0.3rem var(--box-shadow-color, aqua); */
    display: flex;
    flex-direction: column;

}