.welcomeBox {
  position: relative;
  width: 60%;
  height: 80%;
  box-sizing: border-box;
  // box-shadow: 0 0 1rem 1rem var(--box-shadow-color, rgb(0, 0, 0));
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: bg 8s linear infinite;
  &::after,
  &::before {
    content: "";
    position: absolute;
    inset: -6px;
    border-radius: inherit;
    background: linear-gradient(90deg, cyan, violet, turquoise, aqua);
    background-size: 300% 300%;
    animation: borderGlow 8s linear infinite;
    z-index: -1;
    filter: blur(12px);
  }
  > * {
    z-index: 3;
  }
  h3 {
    font-size: 5rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin: 5rem 0rem 3rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  h4 {
    font-size: 1.6rem;
    font-weight: 600;
    color: rgba(78, 173, 233, 0.708);
    margin: 5rem 0rem 3rem;
  }
  .buttonBorder {
    height: 4rem;
    width: 15rem;
    position: relative;
    margin: 5rem 0 0;
    &::before,
    &::after {
      height: 4.7rem;
      width: 15.7rem;
      content: "";
      position: absolute;
      top: -4.5px;
      right: -4.5px;
      border-radius: inherit;
      background: linear-gradient(90deg, cyan, violet, turquoise, aqua);
      background-size: 300% 300%;
      animation: borderGlow 8s linear infinite;
      z-index: -1;
      filter: blur(12px);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    &:hover::before,
    &:hover::after {
      opacity: 1;
    }
    button {
      position: relative;
      cursor: pointer;
      border: none;
      background-color: azure;
      height: 4rem;
      width: 15rem;
      border-radius: 0.4rem;
      transition: 0.3s transform ease-in-out, 0.3s box-shadow ease-in-out;

      font-size: 1rem;
      font-weight: 600;
    }
  }
}

@keyframes glowPulse {
  from {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.4);
  }
  to {
    box-shadow: 0 0 40px rgba(0, 255, 255, 0.8);
  }
}
@keyframes bg {
  from {
    background-color: rgba(0, 0, 0, 0.846);
  }
  to {
    background-color: rgba(0, 0, 0, 0.856);
  }
}
@keyframes borderGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 800px) {
  .welcomeBox {
    position: relative;
    width: 70%;
    height: 70%;
    box-sizing: border-box;
    box-shadow: 0 0 1rem 1rem var(--box-shadow-color, rgb(0, 0, 0));
    border-radius: 25% 5%;
    display: flex;
    flex-direction: column;
    background-color: black;

    h3 {
      font-size: 4rem;
      font-weight: 500;
      color: aqua;
      margin: 4rem 0rem 2rem;
    }
    h4 {
      font-size: 1.6rem;
      font-weight: 600;
      color: rgba(0, 255, 255, 0.708);
      margin: 4rem 0rem 2rem;
    }
  }
}
