.homeTab{
    width: 100%;
    height: 100%;
    display: flex;
    
    .homeTabSideBar{
        width: 30%;
        height: 100%;
        background-color: blue;
    }
    .homeTabMainContent{
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .homeTabImageContent{
            width: 70vw;
            height: 70vh;
            // border-bottom: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: auto;

            .homeTabImage, img {
                
                width: 100%;
                height: 100%;
                object-fit: contain;
                
            }
        }

        .homeTabButtonBar{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            background-color: aquamarine;
            p{
                padding: 0 1rem 0;
            }

            button{
                padding: 0 1rem 0;
                border: none;
                background-color: rgb(180, 215, 215);
                border-radius: 1rem;
                cursor: pointer;
            }
        }
    }
}
@media (max-width: 800px ) or (max-height: 600px) {
    .homeTab {
        height: 100%;
        .homeTabSideBar{
            width: 250px;
            height: 100%;
        }
    }
}